<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086290714163-3hjk4kqqvf4fmhqbraiqmf8m6itmni6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086290714163-3hjk4kqqvf4fmhqbraiqmf8m6itmni6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCQsKZFtY3vMxsj3wJDTgfnYmwWg7XQTik</string>
	<key>GCM_SENDER_ID</key>
	<string>1086290714163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalApp</string>
	<key>PROJECT_ID</key>
	<string>medical-app-f52d5</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-app-f52d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086290714163:ios:48636df6fbf8f093aa0d46</string>
</dict>
</plist>